@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: gilroy;
    font-weight: 400;
    src: url(/Users/Sarika/Library/Fonts/Gilroy-Light.otf), format("otf");
  }
  @font-face {
    font-family: gilroy;
    font-weight: 600;
    src: url(/fonts/Gilroy-ExtraBold.otf), format("otf");
  }
}
.product-color {
  @apply w-6 h-6 absolute rounded-full hidden;
}
.product-color:checked ~ .check-container {
  @apply border-2 border-radio-green absolute -top-1 -left-1 rounded-full w-8 h-8;
}
.product-color:checked ~ .check-container::before {
  @apply block absolute -bottom-0.5 -right-1.5 w-4 h-4 p-2 rounded-full bg-radio-green;
  content: " ";
}
.product-color:checked ~ .check-container::after {
  @apply w-1.5 h-2.5 transform rotate-45 border-r-2 border-b-2 bottom-0.5 -right-0.5 border-black absolute;
  content: " ";
  /* border-style: hidden solid solid hidden; */
}
